
.botones-redes:hover{
    color: red;
}


.titulo-f{
    color: red;
    font-weight: bold;
}



.fot-p{
    text-decoration: none;
}



.foot{
    background-color: white;
}



.catalogo{
    padding-bottom: 250px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}
